:root {
  --gold: #FFD700;
  --purple: #6A0DAD;
  --purple2: #8B2BE2;
  --dark: #0D0014;
  --dark2: #1A0030;
  --text: #F0E6FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background: var(--dark);
  color: var(--text);
  min-height: 100vh;
  background: #000000;
}

header {
  background: var(--dark2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  height: 72px;
  border-bottom: 2px solid var(--purple2);
  box-shadow: 0 4px 24px #6A0DAD44;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo-icon img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.logo-text {
  font-family: 'Orbitron', monospace;
  font-size: 20px;
  font-weight: 900;
  color: var(--gold);
}

.logo-sub {
  font-size: 10px;
  color: #c9aaff;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-icons {
  display: flex;
  gap: 12px;
}

.icon-btn {
  width: 42px;
  height: 42px;
  background: var(--purple);
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.icon-btn:hover {
  transform: scale(1.15);
}

.app {
  background:var(--dark2);
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 14px;
}

.app h1 {
  font-weight: 25px;
  color: var(--text);
  font-weight: 600;
  border-bottom: 1px solid var(--gold);
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: var(--text);
  font-weight: 600;
}

.btn {
  background: var(--purple);
  color: var(--text);
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--dark);
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px
}

.btn:hover:not([disabled]) {
  background: var(--gold);
  color: var(--dark);
} 

#next-btn {
  background: var(--gold);
  color: var(--dark);
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9aeabc;
  color: var(--dark);
}

.incorrect {
  background: #ff9393;
  color: var(--dark);
}


